<link rel="stylesheet" href="/stylesheets/partials.css" />

<nav>
  <% if(user) { %>
  <div class="navbar">
    <div class="nav-links">
      <a class="nav-button" href="/users/<%=user._id%>/foods">My Pantry</a>
      <a class="nav-button" href="/users">Explore Our Community</a>
      <a class="nav-button signout-button" href="/auth/sign-out">Sign Out</a>
    </div>
  </div>
  <% } else { %>
  <div class="navbar">
    <div class="nav-links">
      <a class="nav-button signin-button" href="/auth/sign-in">Sign In</a>
      <a class="nav-button signup-button" href="/auth/sign-up">Sign Up</a>
    </div>
  </div>
  <% } %>
</nav>
